*{margin: 0px; padding: 0px;}
header{
	height: 100vh;
	
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  padding: 0;
  margin: 0;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 0;
  letter-spacing: 0;
}
.dropdown{float: left;overflow: hidden;}
.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-right{
  float: right;
}
.navbar a:hover, .dropdown:hover
.dropbtn {background-color: white;color: black;}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  float:none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color: #ddd;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.main{
	top: 40%;
	width: 100%;
	margin: auto;
}

.footer{
	padding-top: 5px;
  background-color: purple;
	overflow: hidden;
	width: 100%;
	height: 40px;
	font-weight: bold;
	position: fixed;
	text-align: center;
	bottom: 0;
}
.footer a{
	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.footer a:hover{
	background-color: white;
	color: black;
}
.footer a.active{
	background-color: #4CAF50;
  	color: white;
}

.heading{
	color: #000;
	text-transform: uppercase;
	bottom: 0;
	height: 70px;
	background-color: purple;
}
.heading h1{
	font-size: 32px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 15px;
	background-color: purple;
	color: white;
}
